*.ac       text eol=lf
*.am       text eol=lf
*.sh       text eol=lf
*.pl       text eol=lf
*.py       text eol=lf
*.go       text eol=lf
*.c        text eol=lf
*.js       text eol=lf
*.jsx      text eol=lf
*.ts       text eol=lf
*.tsx      text eol=lf
